<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/home-screen" routerLink="/home-screen"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="6" offset-md="3">

        <ul class="mainlist">
          <li class="header">OU HCI/Design Team
            <ul class="itemsList">
              <li class="listItem">Blaine Price</li>
              <li class="listItem">Daniel Gooch</li>
              <li class="listItem">Dmitri Katz</li>
              <li class="listItem">Mark Hall</li>
              <li class="listItem">Sarat Sarvepalli</li>
              <li class="listItem">Yasmin Morgan</li>
              <li class="listItem">Mohamed Bennasar</li>
              <li class="listItem">Emilie Giles</li>
              <li class="listItem">Vikram Mehta</li>
            </ul>
          </li>
          <li class="header">OU Engineering Team
            <ul class="itemsList">
              <li class="listItem">Henryk Krajinski</li>
              <li class="listItem">Jef Lay</li>
              <li class="listItem">Michelle Bachler</li>
            </ul>
          </li>
          <li class="header">NTU Social Psychology Team
            <ul class="itemsList">
              <li class="listItem">Clifford Stevenson</li>
              <li class="listItem">Lydia Harkin</li>
              <li class="listItem">Miriam Park</li>
              <li class="listItem">Ronnie Jieru Yan</li>
            </ul>
          </li>
          <li class="header">Exeter Psychology Team
            <ul class="itemsList">
              <li class="listItem">Avelie Stuart</li>
            </ul>
          </li>
          <li class="header">Advisors
            <ul class="itemsList">
              <li class="listItem">Age UK Exeter</li>
              <li class="listItem">Wellmoor</li>
            </ul>
          </li>
          <li class="header">Icons made by
            <ul class="itemsList">
              <li class="listItem">Freepik from www.flaticon.com</li>
              <li class="listItem">Smashicons from www.flaticon.com</li>
              <li class="listItem">Darius Dan from www.flaticon.com</li>
            </ul>
          </li>
        </ul>

        <p class="thankYou">And special thanks to all the participants who have given generously of their time and opinions.</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
