.mainlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  font-weight: bold;
  color: black;
}

.itemsList {
  list-style-type: square;
  margin-bottom: 0.4em;
}

.listItem {
  font-weight: normal;
  color: black;
}

.thankYou {
  font-weight: bold;
  color: black;
}
