.divider_hk {
  margin-top: 0;
  margin-bottom: 0.1em;
  --background: #f4f5f8;
  --color: black;
}

.dividerLabel_hk {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  width: 100%;
  display: flex;
}

.privacySettingsReminder {
  padding: 0 1.5em; margin-top: 25px;
}

