<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/daily-record-screen4" routerLink="/daily-record-screen4"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Record - 5/5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider class="divider_hk">
    <ion-label class="dividerLabel_hk">Average time in<br/>locations since last entry</ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="6" offset-md="3">

        <ion-list lines="none">
          <ion-item class="listItem" (click)="showPicker('hours_bed')">
            <div class="mainDiv">
              <div class="imgDiv"><img  class="iconImg" src="./../assets/location_icons_Sep2021/double-bed2.png"/></div>
              <div class="iconLabelDiv">Bedroom</div>
            </div>
            <ion-badge slot="end" class="badge_hk">{{getHours('hours_bed')}} h</ion-badge>
          </ion-item>

          <ion-item class="listItem" (click)="showPicker('hours_sofa')">
            <div class="mainDiv">
              <div class="imgDiv"><img  class="iconImg" src="./../assets/location_icons_Sep2021/living_room.svg"/></div>
              <div class="iconLabelDiv">Living Room</div>
            </div>
            <ion-badge slot="end" class="badge_hk">{{getHours('hours_sofa')}} h</ion-badge>
          </ion-item>

          <ion-item class="listItem" (click)="showPicker('hours_kitchen')">
            <div class="mainDiv">
              <div class="imgDiv"><img  class="iconImg" src="./../assets/location_icons_Sep2021/kitchen.svg"/></div>
              <div class="iconLabelDiv">Kitchen</div>
            </div>
            <ion-badge slot="end" class="badge_hk">{{getHours('hours_kitchen')}} h</ion-badge>
          </ion-item>

          <ion-item class="listItem" (click)="showPicker('hours_garden')">
            <div class="mainDiv">
              <div class="imgDiv"><img  class="iconImg" src="./../assets/location_icons_Sep2021/outside.svg"/></div>
              <div class="iconLabelDiv">Outside</div>
            </div>
            <ion-badge slot="end" class="badge_hk">{{getHours('hours_garden')}} h</ion-badge>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

    <!-- IF YOU WANT TO SOME TESTING JUST UNCOMMENT THESE BUTTONS -->
    <!-- <ion-button (click)="showDailyRecordDataTEST()" color="warning" expand="block">showDailyRecordDataTEST() - TEST</ion-button> -->
    <!-- <ion-button (click)="otherTEST()" color="warning" expand="block">otherTEST() - TEST</ion-button> -->
    <!-- <ion-button (click)="saveDailyRecordTEST()" color="warning" expand="block">saveDailyRecordTEST() - TEST</ion-button> -->
    <!-- <ion-button (click)="getDailyRecordsTEST()" color="warning" expand="block">getDailyRecordsTEST() - TEST</ion-button> -->
    <!-- <ion-button (click)="showUserId_and_TokenTEST()" color="warning" expand="block">showUserId_and_TokenTEST() - TEST</ion-button> -->
    <!-- <ion-button (click)="resetDailyRecordDataTEST()" color="warning" expand="block">resetDailyRecordDataTEST() - TEST</ion-button> -->

</ion-content>


<ion-footer>
  <div style="padding: 0 1em 0.5em 1em;">
    <ion-button type="submit" color="primary" expand="block" size="large" class="submitBtn_hk" (click)="submitBtnClicked()">
      Submit
    </ion-button>
  </div>

  <ion-toolbar style="--background: #f4f5f8;">
    <ion-buttons slot="start">
      <ion-button id="backFooterBtn" (click)="backFooterBtnClicked()">Back
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Page 5 of 5</ion-title>
  </ion-toolbar>
</ion-footer>
