ion-button {
  font-weight: bold;
  font-size: 150%;
  height: 170px;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:auto;
  text-transform: capitalize;
}

ion-icon {
  font-size: 80px; //Preferred size here
}

#logo {
  width: 40%;
  height: 40%;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
